Name: <%= @board.name %><br /><br />

<% if policy(BoardTopic).new? %>
  <%= link_to 'Erstellen', board_topics_new_path %><br /><br />
<% end %>

<% if @is_main_category %>
  <fieldset>
    <ul>
      <% @board.boards.each do |sub_board| %>
        <li><%= link_to sub_board.name, boards_show_path(sub_board) %></li>
      <% end %>
    </ul>
  </fieldset>
<% end %>

<table border="0">
  <tr>
    <td>#</td>
    <td>Title</td>
    <td>Author</td>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= link_to topic.title, board_topics_show_path(@board, topic) %></td>
      <td><%= topic.username %></td>
    </tr>
  <% end %>
</table>
