<div id="board-topic-id" data-id="<%= @board_topic.id %>" style="display: none;"></div>

<h2><%= @board_topic.title %></h2>

<div id="posts-list">
  <% @posts.each do |post| %>
    <%= render partial: 'board_topic_posts/show', locals: { post: post } %>
  <% end %>
</div>

<% if policy(BoardTopicPost).new? %>
  <br /><br />
  <%= form_for @board_topic_post, url: board_topic_posts_create_path, remote: false do |f| %>
    <fieldset>
      <%= f.label :text %><br />
      <%= f.text_area :text %><br /><br />

      <%= f.file_field :file %><br /><br />

      <%= f.hidden_field :board_topic_id %>
      <%= f.submit 'Erstellen' %>
    </fieldset>
  <% end %>
<% end %>
