<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Angemeldet als:
    <% if User.current %>
      <strong><%= User.current.username %></strong> | <%= link_to 'Logout', users_logout_path, method: :post %>
    <% else %>
      <strong>Gast</strong> | <%= link_to 'Login', users_login_path %>
    <% end %>
    <hr />
    <% if flash[:error] %>
      <fieldset><%= flash[:error] %></fieldset>
    <% end %>
    <% if flash[:success] %>
      <fieldset><%= flash[:success] %></fieldset>
    <% end %>
    <%= yield %>
  </body>
</html>
